body {
  background-color: #02343f;
}
h1,
h2 {
  display: block;
  text-align: center;
  font-style: oblique;
  color: #f0edcc;
}

h1 {
  font-weight: bold;
  padding-top: 20px;
  font-size: 100px;
}
.button_wrap {
  display: flex;
  flex-direction: column;
}
