body {
  background-color: rgb(250, 246, 242);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;
}
.navbar_logo {
  font-size: 24px;
  color: white;
}
.navbar_logo i {
  color: wheat;
}
.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar_menu li {
  padding: 8px 12px;
}
.navbar_menu li:hover {
  background-color: wheat;
  border-radius: 5px;
}
.navbar_links {
  list-style: none;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
iframe {
  border-radius: 5px;
  border-style: solid;
}

span {
  font-size: larger;
  font-weight: bold;
}
.ctgr_upper {
  display: flex;
  width: 100%;
  margin-top: 120px;
  justify-content: center;
}
.ctgr_upper_video {
  margin-left: 40px;
}
.ctgr_lower {
  display: flex;
  width: 100%;
  margin-top: 120px;
  justify-content: center;
}
.ctgr_lower_video {
  margin-left: 40px;
}
.ctgr_easy {
  display: flex;
  width: 100%;
  margin-top: 120px;
  justify-content: center;
}
.ctgr_easy_video {
  margin-left: 40px;
}
.ctgr_hard {
  display: flex;
  width: 100%;
  margin-top: 120px;
  justify-content: center;
}
.ctgr_hard_video {
  margin-left: 40px;
}
.controls {
  text-align: center;
  margin-top: 50px;
}
.controls span {
  padding: 10px 20px;
  margin: 0 10px;
}
