body {
  background-color: rgb(250, 246, 242);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.middle {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
}
.sub {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;
}
.navbar_logo {
  font-size: 24px;
  color: white;
}
.navbar_logo i {
  color: wheat;
}
.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar_menu li {
  padding: 8px 12px;
}
.navbar_menu li:hover {
  background-color: wheat;
  border-radius: 5px;
}
.navbar_links {
  list-style: none;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
iframe {
  border-radius: 5px;
  border-style: solid;
}
.title {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
